<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-Bulma</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
    <style>
      .is-done{
          text-decoration: line-through;
      }
      .calendar-icon {
        margin-left: 10px;
        font-weight: bold;
      }
      .add-button {
        font-weight: bold;
      }
      .card-content {
        padding: 0.5rem;
      }
      .table {
        background-color: rgb(232, 245, 250);
      }
      table {
        border: 1px solid #dddddd;
      }
      .time {
        font-weight: bold;
      }
    </style>
</head>
<body>
  <div id="app">
    <nav class="navbar is-warning">
        <div class="navbar-brand">
          <a class="navbar-item" href="">
            <img src="https://img.icons8.com/external-becris-solid-becris/64/000000/external-calendar-literary-genres-becris-solid-becris.png"/>
            <span class="calendar-icon">Calendar</span>
          </a>

          <div class="navbar-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="https://shivangikakkar.com/">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                Docs
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                  Overview
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                  Modifiers
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                  Columns
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                  Layout
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                  Form
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                  Elements
                </a>
                <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                  Components
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a class="bd-tw-button button is-warning is-light" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://www.linkedin.com/in/shivangikakkar15/">
                    <span class="icon">
                      <i class="fab fa-linkedin"></i>
                    </span>
                    <span>
                      LinkedIn
                    </span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-warning is-light" href="https://www.calendarlabs.com/templates/2022/2022-printable-calendar-pdf-03.pdf">
                    <span class="icon">
                      <i class="fas fa-download"></i>
                    </span>
                    <span>Download</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <!-- LEFT PANEL -->
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter">
                    <div class="card">
                        <header class="card-header">
                          <p class="card-header-title">
                            February
                          </p>
                          <button class="card-header-icon" aria-label="more options">
                            <span class="icon">
                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                          </button>
                        </header>
                        <div class="card-content">
                          <div class="content">
                            <table class="table">
                              <tr>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>T</th>
                                <th>F</th>
                                <th>S</th>
                                <th>S</th>
                              </tr>
                              <tr>
                                <td>-</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                              </tr>
                              <tr>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                              </tr>
                              <tr>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                              </tr>
                              <tr>
                                <td>28</td>
                              </tr>
                            </table>
                            <time class= "time" datetime="2016-1-1">11:09 PM - 16 Feb 2022</time>
                          </div>
                        </div>
                        <footer class="card-footer">
                          <a href="#" class="card-footer-item">Save</a>
                          <a href="#" class="card-footer-item">Edit</a>
                          <a href="#" class="card-footer-item">Delete</a>
                        </footer>
                      </div>
                </div>
        
                  <!-- CENTER HEADING TABS -->
                  <div class="column is-half">
                    <article class="panel">
                        <!-- UPPER -->
                        <div class="tabs is-boxed">
                            <ul>
                              <li>
                                <a :class="{ 'is-active': currentTab == 'Current'}" @click="changeTab('Current')">
                                  <span class="icon is-small"><i class="fas fa-clipboard-list"></i></span>
                                  <span>Current</span>
                                </a>
                              </li>
                              <li :class="{ 'is-active': currentTab == 'Completed'}" @click="changeTab('Completed')">
                                <a>
                                  <span class="icon is-small"><i class="fas fa-calendar-times"></i></span>
                                  <span>Completed</span>
                                </a>
                              </li>
                              <li :class="{ 'is-active': currentTab == 'Upcoming'}" @click="changeTab('Upcoming')">
                                <a>
                                  <span class="icon is-small"><i class="fas fa-calendar-day"></i></span>
                                  <span>Upcoming</span>
                                </a>
                              </li>
                              <li :class="{ 'is-active': currentTab == 'All'}" @click="changeTab('All')">
                                <a>
                                  <span class="icon is-small"><i class="fas fa-calendar"></i></span>
                                  <span>All</span>
                                </a>
                              </li>
                            </ul>
                        </div>
                      <div class="panel-block">

                        <!-- add tsks -->
                        <form @submit.prevent="addTask" style="flex: 1;">
                        <div class="field has-addons " style="width: 100%;">
                          <div class="control has-icons-left is-expanded">
                            <input class="input is-dark field" type="text" placeholder="New Task" v-model="newTitleName">
                            <span class="icon is-left">
                              <i class="fas fa-calendar-plus" aria-hidden="true"></i>
                            </span>
                          </div>
                            <div class="control">
                              <button class="button is-dark add-button">Add</button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- DIV  -->
                          <label>
                            <!-- v-model: binding data -->
                            
                            <span class="panel-block" v-for="task in pendingTasks" :key="task.title" :class="{ 'is-done': currentTab != 'Completed' && task.isDone }">
                              <input type="checkbox" v-model=task.isDone />
                              {{ task.title }}
                            </span>
                          </label>
                    </article>
                  </div>
                      <!-- ARTICLE ENDS  -->
                  
                <!-- RIGHT PANEL -->
                
                  <div class="container">
                    <div class="column is-one-quarter">
                      <div class="columns">
                          <div class="column">
                              <div class="card">
                                  <header class="card-header">
                                    <p class="card-header-title">
                                      March
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                      <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                      </span>
                                    </button>
                                  </header>
                                  <div class="card-content">
                                    <div class="content">
                                      <table class="table">
                                        <tr>
                                          <th>M</th>
                                          <th>T</th>
                                          <th>W</th>
                                          <th>T</th>
                                          <th>F</th>
                                          <th>S</th>
                                          <th>S</th>
                                        </tr>
                                        <tr>
                                          <td>-</td>
                                          <td>1</td>
                                          <td>2</td>
                                          <td>3</td>
                                          <td>4</td>
                                          <td>5</td>
                                          <td>6</td>
                                        </tr>
                                        <tr>
                                          <td>7</td>
                                          <td>8</td>
                                          <td>9</td>
                                          <td>10</td>
                                          <td>11</td>
                                          <td>12</td>
                                          <td>13</td>
                                        </tr>
                                        <tr>
                                          <td>14</td>
                                          <td>15</td>
                                          <td>16</td>
                                          <td>17</td>
                                          <td>18</td>
                                          <td>19</td>
                                          <td>20</td>
                                        </tr>
                                        <tr>
                                          <td>21</td>
                                          <td>22</td>
                                          <td>23</td>
                                          <td>24</td>
                                          <td>25</td>
                                          <td>26</td>
                                          <td>27</td>
                                        </tr>
                                        <tr>
                                          <td>28</td>
                                          <td>29</td>
                                          <td>30</td>
                                          <td>31</td>
                                        </tr>
                                      </table>
                                      <time class= "time" datetime="2016-1-1">11:09 PM - 16 Feb 2022</time>
                                    </div>
                                  </div>
                                  <footer class="card-footer">
                                    <a href="#" class="card-footer-item">Save</a>
                                    <a href="#" class="card-footer-item">Edit</a>
                                    <a href="#" class="card-footer-item">Delete</a>
                                  </footer>
                                </div>
                          </div>
                          
        
            </div>       
        </div>
    </div>
  </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hey there! I am using Vue!',
                    currentTab: 'All',
                    newTitleName: '',
                    tasks: [
                        { title: 'Make Bulma great again', isDone: false},
                        { title: 'Add some more features', isDone: true },
                        { title: 'Make a github account', isDone: false },
                        { title: 'Learn how to use github', isDone: false },
                        { title: 'add a .gitignore file', isDone: false },
                        
                    ]
                }
            },
            methods: {
                changeTab(tab) {
                    this.currentTab = tab;
                },
                addTask() {
                    this.tasks.unshift({
                        title: this.newTitleName,
                        done: false
                    });
                    this.newTitleName = '';
                }
            },
            computed: {
                pendingTasks() {
                     if (this.currentTab == 'Current') {
                            return this.tasks.filter(task => !task.isDone);}
                     else if (this.currentTab == 'Completed'){
                      return this.tasks.filter(task => task.isDone);
                     } else {
                      return this.tasks;
                     }
                }
            }
        }).mount('#app')
    </script>
</body>
</html>